<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
        body{
            font-family:'Open Sans', sans-serif;
            color:#353843;}
        .border, .border th, .border td {
            border-collapse: collapse;
            border:1px solid #222;
        }
        table, th, tr, td {
            padding:0;
            text-align: left;
        }
        .border-none{
            border:none;
        }
        p{font-size:14px;}
        a{color:#353843;text-decoration:none;}
        a:hover{color:#f1b80d;text-decoration:underline;}
        .yellow-t{color:#f1b80d;}
        .blue-bg{background-color:#f1b80d;}
        .button{padding:15px 35px;border-radius:3px;text-align:center;width:240px;color:#fff;}

    </style>
</head>

<body style="width:700px;height:auto;background:#fff;padding:25px 15px;">

<table width="100%" style="padding:0 20px;background:#f1b80d;">
    <tr width="100%">
        <td width="70%" style="text-align:right;padding-right:15px;">
            <!-- TODO -->
        </td>
    </tr>
</table>

{{#block "body" }}
{{/block}}

<div style="height:80px;width:100%;clear:both;"></div>


<!--------------- FOOTER ---------------->
<table width="100%" style="border-top:1px solid #ddd;">
    <tr>
        <td style="text-align:center;">
            <p style="line-height:20px;color:#999;margin-top:20px">
                <!-- TODO footer -->
            </p>
        </td>
    </tr>
    <tr style="height:35px;"></tr>
</table>

</body>
</html>
