{{#extend "mail"}}
{{#content "body"}}
<div>
    <p>Welcome {{nickname}}</p>

    <p>
        Click the button below to activate your account
    </p>

    <p>
        {{link}}
    </p>

    <a href="{{link}}">Activate me</a>
</div>

{{/content}}
{{/extend}}
