
<div>
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div>
            <label for="remember">
                <input type="checkbox" name="remember" id="remember" value="1"> Remember me
            </label>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
