
<div>
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <div>
            <label for="nickname">Username</label>
            <input type="text" name="nickname" id="nickname">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div>
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
